body {
	background-size: 100%;

}

h1 {
	color: yellow;
	font-weight: 900;
}

div {
	text-align: center;
	height: 0px;
	width: 350px;
	background-color: none;
	margin: auto;
	margin-bottom: 10em;
}
input {
	margin-right: 4%;
}
button {
	margin-right: 4%;
}

#image {
	height: 300px;
	width: 300px;
	display: block;
	margin-left: 0px;
}

#message {
	margin-top: 100px;
	font-size: 20px;
	display: block;
	color: yellow;
	font-weight: 900;
}









